@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.main {
  background-image: url("../src/starter-code/assets/home/background-home-desktop.jpg");
  background-size: auto;
}

.dest{
  background-image: url("../src/starter-code/assets/destination/background-destination-desktop.jpg");
  background-size: auto;
  
}

.crew{
  background-image: url("../src/starter-code/assets/crew/background-crew-desktop.jpg");
  background-size: auto;
  z-index: -1;
}

.tech{
  background-image: url("../src/starter-code/assets/technology/background-technology-desktop.jpg");
  background-size: auto;
}